from webdavdlib.filesystems import *


def config_filesystems():
    return MultiplexFilesystem({
        "group": DirectoryFilesystem("/group"),
        "home": HomeFilesystem("")
    })


def config_port():
    return 8080


def config_loglevel():
    return "DEBUG"
