from webdavdlib.filesystems import *
from webdavdlib.authenticator import *
from webdavdlib.operator import *


def config_filesystems():
    return MultiplexFilesystem({
        "/group": DirectoryFilesystem("/group", [], NoneOperator())
    })


def config_port():
    return 8080

def config_authenticator():
    return DebugAuthenticator()

def config_loglevel():
    return "DEBUG"
