<?xml version="1.0" encoding="utf-8" ?>
<D:prop xmlns:D="DAV:">
    <D:lockdiscovery>
        <D:activelock>
            <D:locktype><D:write/></D:locktype>
            <D:lockscope><D:{{ lock.mode }}/></D:lockscope>
            <D:depth>{{ lock.depth }}</D:depth>
            <D:owner>{{ lock.owner }}</D:owner>
            <D:timeout>{{ lock.timeout }}</D:timeout>
            <D:locktoken><D:href>opaquelocktoken:{{ lock.token }}</D:href></D:locktoken>
        </D:activelock>
    </D:lockdiscovery>
</D:prop>